.menu{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height:10vh;
    background-color: rgb(85, 85, 85);
    z-index: 999;
    
}

.left{
    margin-right: 20%;
    display: flex;
}

.menuIcon{
    width: 50px;
    height: 65px;
}

.menuIcon:hover{
    cursor: pointer;
}

.logo{
    width: 100px;
}

.cadastro{
    background-color: #ffbc0d;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;
    width: 137px;
}

.s1{
    background-color: rgba(116, 116, 116, 0.219);
    height: 100vh;
}